// === HEADING BORDERS ===
$heading-border {
-webkit-box-shadow: -10px 10px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 2px 0px rgba(0,0,0,0.75);
box-shadow: -10px 10px 2px 0px rgba(0,0,0,0.75);
background: transparent(0, 0, 0, 0.1);
border: 2px solid orange;
padding: 10px;
}