// Variable Overrides 

$theme-colors: (
  "primary":black
  );

  $body-bg: #fff;

  .jumbotron {
    color: #fff;
}

  .jumbotronImg {
    background-image: url("../img/dubaiheader.jpg");
    background-size: cover;
    background-position: center;
  }

img {
  border-style: none;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-box-shadow: -10px 10px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 10px 2px 0px rgba(0, 0, 0,0.75);
  box-shadow: -10px 10px 2px 0px rgba(0, 0, 0,0.75);
  background: transparent(0, 0, 0, 0.1);
  border: 2px solid orange;
}


.subhead {
  -webkit-box-shadow: -10px 10px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 10px 2px 0px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 2px 0px rgba(0,0,0,0.75);
  background: transparent(0, 0, 0, 0.1);
  border: 2px solid orange;
  padding: 10px;
  text-transform: uppercase;
  margin-right: 35%;
  }

  .lead {
    text-transform: uppercase;
    font-display: italic;
    font-weight: bold;
  }

  .carousel img {
    height: 400px;
  }
 

.footer {
  height: 180px;
  background-color: orange;
  margin-top: 5%;
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";